.pl_table_wrapper {
    position: relative;
    height: 760px;
    margin-bottom: 2rem;

    @media screen and (max-width: 1255px) {
        height: 540px;
    }

    @media screen and (max-width: 555px) {
        height: 360px;
    }

    @media screen and (max-width: 480px) {
        height: 270px;
    }
}

.pl_table_container {
    position: absolute;
    width: max-content;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    display: inline-block;

    table {
        transform: scale(1.02);
    }

    td {
        $pl_td_size: 15rem;
        $pl_td_size-m: 10rem;
        $pl_td_size-s: 7rem;
        $pl_td_size-xs: 5rem;

        &>img {
            height: 90%;
            width: 90%;
        }

        @media screen and (max-width: 1255px) {
            width: $pl_td_size-m;
            height: $pl_td_size-m;
        }

        @media screen and (max-width: 555px) {
            width: $pl_td_size-s;
            height: $pl_td_size-s;
        }

        @media screen and (max-width: 480px) {
            width: $pl_td_size-xs;
            height: $pl_td_size-xs;
        }

        width: $pl_td_size;
        height: $pl_td_size;
        outline: 1px solid white;
        position: relative;

        &>img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }


    }
}

.landing_section_header {
    color: white;
    font-size: 5rem;
    text-align: center;
    padding: 5rem 5rem 1rem 5rem;
    margin-top: 1rem;

    @media screen and (max-width: 480px) {
        font-size: 3rem;
    }
}