.pl_table_wrapper {
    position: relative;
    height: 760px;
    margin-bottom: 2rem;
}

.pl_table_container {
    position: absolute;
    width: max-content;
    top: 0; left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    display: inline-block;
    table {
        transform: scale(1.02);
    }
    td {
        $pl_td_size: 15rem;
        &>img {
                height: 90%;
                width: 90%;
            }
        @media only screen and (min-width: 1255px) {
            
        }
        width: $pl_td_size;
        height: $pl_td_size;
        outline: 1px solid white;
        position: relative;

        & > img {
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
        }

        
    }
}

.landing_section_header {
    color: white;
    font-size: 5rem;
    text-align: center;
    padding: 5rem;
    margin: 1rem;
}