---
import "../styles/Header.scss";
import CinematicButton from "./CinematicButton.astro";
---

<div class="header_wrapper">
  <div class="header_container">
    <div class="header_buttons">
      <CinematicButton
        name="github"
        link="https://github.com/salat-23"
        image="https://images.alphacoders.com/224/224763.jpg"
      />
      <CinematicButton
        name="linkedin"
        link="https://www.linkedin.com/in/timur-vorobev-4aab29240/"
        image="https://images.alphacoders.com/105/105131.jpg"
      />
      <CinematicButton
        name="vk"
        link="https://vk.com/salat23"
        image="https://www.pixelstalk.net/wp-content/uploads/2016/10/Anime-Landscape-Backgrounds.jpg"
      />
    </div>
    <div class="header_name_container">
      <p>Timur Vorobev</p>
      <p class="email">vorobev.timur.art@gmail.com</p>
    </div>
    <div class="header_description">
      <p>always creating software. except on weekends</p>
      <p class="header_description_floating">V</p>
    </div>
  </div>
</div>
